.container {
  max-width: 1000px;
  margin: 40px auto;  
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
}

button {
    padding: 8px 16px;
    background-color: #ffd700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    gap:10px;
  }

  form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  h1 {
    text-align: center;
    color: navy;
  }

  